

.header-container{
    @include flex(center, center, $dir:column);
    @include laptop{
        @include flex(space-between, center, $dir:row);
    }

}
.header-slider{
    max-width: 320px;
    text-align: center;

    @include tablet {
        max-width: 500px;
    }
    @include laptop{
        text-align: left;
        padding-top: 4.25rem;
    }

    &__title{
        font-weight: bold;
        font-size: 2.75rem;
        @include tablet{
            font-size: 3.75rem;           
        }
    }
    &__text{
        font-size: 1.125rem;
        margin: 1.875rem 0 3.5rem;
    }
    &__btn{
        border: none;
        background: #4737FF;
        color: white;
        letter-spacing: 4px;
        font-size: 14px;
        font-weight: 500;
        padding: 1.0625rem 1.5625rem;
        margin-bottom: 1.875rem;

        @include laptop{
            margin-bottom: 11.25rem;
        }
    }
}

.header-video{
    max-width: 320px;
    margin-top: 1.875rem;
    position: relative;

    @include tablet{
        max-width: 500px;
    }

    &__img{
        width: 100%;
    }

    &__wrap{
        width: 290px;
        position: absolute;
        bottom: 50px;
        left: 0;

        @include tablet{
            bottom: 280px;
            left: 100px;
        }

        @include laptop{
            bottom: 6.25rem;
            left: -3.125rem;
        }
    }
    &__vid{
        width: 100%;
        position: relative;
        height: 300px;
    }
    &__icon{
        position: absolute;
        top: 6.25rem;
        left: 7.5rem;
        background-color: #fff;
        padding: 1.3125rem;
        transition: .5s;
        
        &:hover{
            background: #4737FF;
        }
    }
}


.swiper-scrollbar{
    &::after{
        content: '01';
        position: absolute;
        top: -0.5rem;
        left: -1.25rem;
    }
    &::before{
        content: '03';
        position: absolute;
        top: -0.5rem;
        right: -1.375rem;
    }
} 
.swiper-horizontal > .swiper-scrollbar{
    width: 80%;
    left: 1.875rem;
    
    @include laptop{
        width: 50%;
    }

}
.swiper-scrollbar-drag{
    background-color: #C6B393;
}