.header{
    padding: 3.6875rem 0;
    @include flex(space-between, center)
}
.logo {

    &__link{
        width: 4.6875rem;
    }
    &__img{
        width: 100%;
    }
}
.search{

    &__btn{
        border: none;
        background-color: none;
    }
    &__img{
        width: 1.25rem;
    }
}

.menu{

    &__btn{
        border: none;
        background-color: none; 
    }
    &__img{
        width: 2.1875rem;
    }
}